@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Figtree';
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #f4d04e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    background-color: white;
    border-radius: 16px;
    border: 1px solid black;
    box-shadow: 10px 10px;
    
}

.img {
    width: 370px;
    border-radius: 10px;
}
.image {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.paragraph { 
    padding-left: 1.5rem;
    padding: 0.25rem 1rem ;
    background-color: #f4d04e;
    border: none;
    border-radius: 5px;
    margin-left: 1.5rem;
    font-size: 12px;
    font-weight: 800;

}

.date {
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    font-size: 12px;
    font-weight: 600;
}

.title {
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    font-size: 16px;
    font-weight: 800;
}

.text {
   
    padding: 1.5rem;
    color: #808080;
}

.author {
    display: flex;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    align-items: center;
    gap: 1rem;
}

.author p {
    font-size: 16px;
    font-weight: 800;
}